body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #F8F7F5;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #007BFF;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Add this line */
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .search-bar {
    margin-top: 3px;
    margin-right: 5px;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
  
  .search-bar input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #333;
    margin-right: 8px;
  }
  
  .search-bar button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 4px;
  }
  
  /* CSS for profile section */
  .profile {
    background-color: #F8F7F5;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #007BFF;
    padding: 10px;
    overflow: auto;
  }
  
  .profile-picture {
    width: 350px;
    height: 350px; /* Same width and height for a circular shape */
    border: 3px solid #90c6ff;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
  }
  
  .profile-picture img {
    width: 100%;
    height: 100%; /* Make the image cover the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%;
  }

  .profile-description {
    justify-content: center; /* Center the text vertically */
    height: 350px;
    margin-left: 8px;
}
  
  /* CSS for profile*/
  .profile-name {
    font-size: 24px;
    font-weight: normal;
    color:#0061c9;
    margin-top: 0;
  }
  
  .profile-info {
    font-size: 16px;
    margin-top: 10px;
  }

  .edit-profile-button, .edit-picture-button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit-profile-button:hover, .edit-picture-button:hover {
    background-color: #ddd;
  }

  .delete-account-button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #007BFF;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-account-button:hover {
    background-color: #ff0000; /* Red background color on hover */
    color: #fff; /* Change text color to white on hover */
  }

  /* CSS for social media links */
  .social-media-links {
    display: flex;
    justify-content: center;
    width: 366px;
  }
    
  .social-media-links a {
    display: inline-block;
    margin-left: 12x;
    margin-right: 12px;
    color: #333;
    text-decoration: none;
  }

  .logout-button { 
    display: block;
    margin-left: 1300px;
    align-items: end;
    background-color: #ff0000;
    color: #FFF;
    border: none;
    width: 7%;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    }
  
  /* CSS for reservations table */
  .reservations {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #007BFF;
    padding: 10px;
    background-color: F8F7F5;
  }

  .reservations caption {
    padding: 5px;
    margin-bottom: 5px;
    font-size: 160%;
    color:#0061c9;
  }
  
  .reservations table {
    width: 100%;
    border-collapse: collapse;
    border: #ffd57a;
    background-color: #ffffff;
  }
  
  .reservations th,
  .reservations td {
    border: 1px solid #007BFF;
    text-align: center;
    padding: 8px;
  }
  
  .reservations th {
    background-color: #7ebbfc;
    color: #ffffff;
  }

  .reservations th:nth-child(5),
  .reservations td:nth-child(5) {
    width: 100px; /* Adjust the width as needed */
  }
  
  .edit-reservations {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .edit-reservations-button {
    position: absolute;
    background-color: #1d9e0c;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
  }

  .edit-this-reservation-button {
    background-color: #1d9e0c;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
  }

  .edit-this-delete-button {
    background-color: red;
    color: #FFF;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
  }

  .edit-mode {
  border: 2px dotted darkgreen;
  padding: 5px;
  border-radius: 8px;
  background-color: #e8ffe2;
  }

  #pic-error {
    color: red;
  }