<!DOCTYPE html>
<html>
<head>
  <title>Registration | Lab Reservation System</title>
  <link rel="stylesheet" href="CSS/style.css"> 
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
  <div id="app">
    <h2>Welcome to the Computer Laboratory Reservation System!</h2>
    <div class="container">
      <form @submit.prevent="submitForm">
      <h1>Register</h1>

      <label class="emRegis" for="email">Email:</label>
      <input id="email" v-model="email" type="email" required>

      <label class = "pass" for="password">Password:</label>
      <input id="password" v-model="password" type="password" required>

      <button class="log" type="submit">Register</button>
    </form>
    <p v-if="error" class="error">{{ error }}</p>
    </div>
    <button class="sign" onclick="window.location.href='login.html'">
      Login
    </button>
  </div>

  <script type="module" src="JS/register.js"></script>
</body>
</html>
